@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}

.wrapper {
    container-type: inline-size;
    
    width: auto;
}

.navigation-buttons-list {
    display: flex;
    justify-content: center;
    gap: 0.15rem;

    list-style: none;

    padding: 0rem;
    margin: 0rem;
}

.navigation-button {
    display: flex;
    justify-content: center;

    animation: 0.3s ease-in-out 0.15s 1 normal forwards fade-in;
}