@keyframes fade-in {
    from {
        opacity: 0%;
        transform: translateY(0.5rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}

.wrapper {
    container-type: inline-size;

    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.container {
    align-self: center;

    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    align-items: center;
    gap: 2rem;

    border-radius: 8px;
    background-color: rgb(44, 44, 44);
    
    width: auto;
    height: 100%;
    padding: 0.6rem 0.4rem;

    opacity: 0%;
    transform: translateY(0.5rem);
    animation: 0.3s ease-in-out 0.15s 1 normal forwards fade-in;
}

.high-scores-title {
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.9rem;
    font-family: Gabarito;
    text-align: center;

    padding: 0.6rem;
    margin: 0rem;
}

.high-scores-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    list-style: none;

    padding: 0rem;
    margin: 0rem;
}

.high-score-gold,
.high-score-silver,
.high-score-bronze,
.high-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0rem;

    font-family: Gabarito;
}

.high-score-gold > .high-score-information {
    color: rgba(238, 202, 0, 0.92);
    font-size: 2.4rem;
}

.high-score-gold > .high-score-information,
.high-score-gold > .high-score-date-achieved {
    opacity: 0%;
    transform: translateY(0.5rem);
    animation: 0.3s ease-in-out 2.0s 1 normal forwards fade-in;
}

.high-score-silver > .high-score-information {
    color: rgba(192, 192, 192, 0.92);
    font-size: 2.0rem;
}

.high-score-silver > .high-score-information,
.high-score-silver > .high-score-date-achieved {
    opacity: 0%;
    transform: translateY(0.5rem);
    animation: 0.3s ease-in-out 1.4s 1 normal forwards fade-in;
}

.high-score-bronze > .high-score-information {
    color: rgba(205, 127, 50, 0.92);
    font-size: 1.6rem;
}

.high-score-bronze > .high-score-information,
.high-score-bronze > .high-score-date-achieved {
    opacity: 0%;
    transform: translateY(0.5rem);
    animation: 0.3s ease-in-out 0.9s 1 normal forwards fade-in;
}

.high-score > .high-score-information {
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.2rem;
}

.high-score > .high-score-information,
.high-score > .high-score-date-achieved {
    opacity: 0%;
    transform: translateY(0.5rem);
    animation: 0.3s ease-in-out 0.55s 1 normal forwards fade-in;
}

.high-score-information,
.high-score-date-achieved {
    text-align: center;

    padding: 0rem;
    margin: 0rem;
}

.high-score-date-achieved {
    font-size: 0.8rem;
}

.no-high-scores-found-message {
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.4rem;
    font-family: Gabarito;
    text-align: center;
}

.navigation-button {
    display: flex;
    justify-content: center;
}