.MaterialSymbolsButton {
    display: MaterialSymbolsButton;
    justify-content: center;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.92);
    border: 0.15rem solid transparent;
    border-radius: 0.2rem;
    outline: none;
    text-decoration: none;
    
    transition: transform 0.2s ease-in-out 0s;

    padding: 0rem;
    margin: 0rem;
}

.MaterialSymbolsButton ul {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0rem;
    margin: 0rem;
}

.material-symbols-rounded {
    color: rgba(0, 0, 0, 0.92);

    transition: transform 0.2s ease-in-out 0s;

    /* To prevent cursor highlighting of the icon */
    -webkit-touch-callout: none;    /* iOS Safari */
        -webkit-user-select: none;      /* Safari */
        -khtml-user-select: none;       /* Konqueror HTML */
        -moz-user-select: none;         /* Old versions of Firefox */
        -ms-user-select: none;          /* Internet Explorer/Edge */
        user-select: none;              /* Non-prefixed version, currently
                                           supported by Chrome, Edge, Opera and Firefox */
}

@media (hover: hover) {
    .MaterialSymbolsButton:hover {
        transform: scale(107%);
    }
    .MaterialSymbolsButton:hover ul .material-symbols-rounded {
        transform: scale(115%);
    }
}

.MaterialSymbolsButton:focus {
    transform: scale(107%);
    background-color: rgba(222, 222, 222, 0.92);
}
.MaterialSymbolsButton:focus ul .material-symbols-rounded {
    transform: scale(115%);
}   