@keyframes fade-in-background {
    from {
        background-color: rgb(224, 224, 224);
    }
    to {
        background-color: rgb(240, 240, 240);
    }
}

.wrapper {
    container-type: inline-size;

    width: 100%;
    max-width: 1000px;
    min-width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    
    background-color: rgba(32, 32, 32, 1.0);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 5px -0px rgba(0, 0, 0, 0.3);

    width: auto;
    padding: 1.0rem;
}

.top-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.requirement-message {
    color: rgba(255, 255, 255, 0.92);
    font-size: 0.9rem;
    font-family: Gabarito;
    font-weight: normal;

    padding: 0rem;
    margin: 0rem;
}

.form {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 1.0rem 0.2rem;
}

.names {
    grid-area: 1 / 1 / 2 / -1;

    display: flex;
    gap: 0.4rem;
}

.submit-button {
    grid-area: 2 / 1 / 3 / -1;
}

.first-name,
.last-name {
    width: 30%;
    min-width: 200px;
}

.first-name,
.last-name,
.comment {
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.2rem;
    font-family: Gabarito;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.first-name input,
.last-name input {
    height: 1.4rem;
}

.comment textarea {
    height: 10rem;
    resize: none;
}

.first-name input,
.last-name input,
.comment textarea {
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.92);

    border: none;
    border-radius: 0.3rem;
    outline: 1px solid rgba(255, 255, 255, 1.0);

    width: auto;
}

.first-name input:focus,
.last-name input:focus,
.comment textarea:focus {
    background-color: rgba(255, 255, 255, 0.7);

    outline: 2px solid rgba(255, 255, 255, 1.0);
}

.submit-button {
    place-self: start;

    color: rgba(0, 0, 0, 0.87);
    font-size: 1.2rem;
    font-family: Gabarito;
    text-align: center;
    text-decoration: none;
    border: 0.1rem solid rgba(255, 255, 255, 0.0);
    border-radius: 0.4rem;
    background-color: rgb(224, 224, 224);

    padding: 0.3rem 0.8rem;

    transition: transform 0.25s ease-in-out 0s;
}

.submit-button:hover {
    animation: 0.25s ease-in-out 0.0s 1 normal forwards fade-in-background;
}

@media (hover: hover) {
    .submit-button:hover {
        transform: scale(107%);
        outline: 1px solid white;
    }
}

.submit-button:focus {
    transform: scale(107%);
    outline: 2px solid white;
}

.submit-button:focus {
    background-color: rgba(214, 214, 214, 1.0);

    outline: 2px solid rgba(255, 255, 255, 1.0);
}

.submission-errors {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.error-title {
    color: rgba(255, 255, 255, 1.0);
    font-weight: normal;

    padding: 0rem auto;
    margin: 0rem;
}

.error-list {
    color: rgba(255, 255, 255, 1.0);
    
    padding: 0rem auto;
    margin: 0rem;
}

.error-item {
    color: rgba(255, 255, 255, 1.0);
}