.wrapper {
    container-type: inline-size;

    width: 100%;
    max-width: 1200px;
    height: 100%;
}

.container {
    align-self: center;

    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    align-items: center;
    gap: 2rem;

    border-radius: 8px;
    background-color: rgb(44, 44, 44);
    
    width: auto;
    height: 100%;
    padding: 0.6rem 0.4rem;
}

.error-message {
    color: rgba(255, 255, 255, 0.92);
    font-size: 1.rem;
    font-family: Gabarito;
    text-align: center;

    padding: 0.6rem;
    margin: 0rem;
}

.navigation-button {
    display: flex;
    justify-content: center;
}